<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Restful-booker apis " verbose="1" >
    <test name="PlayWright API AUTOMATION" >
        <classes>
            <class name="restfulbooker.GetToken" />
            <class name="restfulbooker.CreateBookingTest" />
            <class name="restfulbooker.GetBookingTest"></class>
        </classes>
    </test>


</suite>
